
	<input type="hidden" name="arrt_id_{$data['id']}" id="arrt_id_{$data['id']}" value="{$data['id']}"/>
	<input type="hidden" name="arrt_goodsid_{$data['id']}" id="arrt_goodsid_{$data['id']}" value="{$data['goodsid']}"/>
	<input type="hidden" name="arrt_typeid_{$data['id']}" id="arrt_typeid_{$data['id']}" value="{$data['typeid']}"/>
	<input type="hidden" name="arrt_arrttype_{$data['id']}" id="arrt_arrttype_{$data['id']}" value="{$data['arrttype']}"/>
	<input type="hidden" name="arrt_isgroup_{$data['id']}" id="arrt_isgroup_{$data['id']}" value="{$data['isgroup']}"/>
	<input type="hidden" name="arrt_gid_{$data['id']}" id="arrt_gid_{$data['id']}" value="{$data['gid']}"/>

	<div class='controls'>
		<span class="label"> 名称：</span>
		<input type="text" class="text input-large" name="arrt_name_{$data['id']}" id="arrt_name_{$data['id']}" value="{$data["name"]}"><br>
		<span class="label"> 排序：</span>
		<input type="text" class="text input-small" name="arrt_sortorder_{$data['id']}" id="arrt_sortorder_{$data['id']}" value="1">
	</div>


	<div class='controls' style="<if condition="$data['isgroup'] neq 1">display:none</if>" >
		<span class="label"> 组显示类型：</span>
		<select name="arrt_displaytype_{$data['id']}" id="arrt_displaytype_{$data['id']}">
			<option value="0" <if condition="$data['displaytype'] eq 0">selected</if>>字符串</option>
			<option value="1" <if condition="$data['displaytype'] eq 1">selected</if>>罗列单</option>
			<option value="2" <if condition="$data['displaytype'] eq 2">selected</if>>单选框</option>
			<option value="3" <if condition="$data['displaytype'] eq 3">selected</if>>复选框</option>
		</select>
	</div>	



	<div class='controls' style="<if condition="$data['isgroup'] neq 0 OR $data['gid'] eq 0 ">display:none</if>" >
		<span class="label"> 销售属性价格：</span>
		<input type="text" class="text input-small" name="arrt_price_{$data['id']}" id="arrt_price_{$data['id']}" value="{$data["price"]}">元
	</div>




	<div class='controls'>
		<span class="label"> 属性值：</span><br>
		<textarea name="arrt_desc_{$data['id']}" id="arrt_desc_{$data['id']}" cols="50" rows="5">{$data["desc"]}</textarea>
	</div>

	<div class='controls'>
		<span class="label"> 状态：</span>
		<select name="arrt_status_{$data['id']}" id="arrt_status_{$data['id']}">
			<option value="1" <if condition="$data['status'] eq 1">selected</if>>正常</option>
			<option value="0" <if condition="$data['status'] eq 0">selected</if>>禁用</option>
		</select>
	</div>
