<extend name="Public/base" />

<block name="body">
	<div class="main-title cf">
		<h2>代码生成完成</h2>
		{$msg}
	</div>

</block>
<block name="script">
<script type="text/javascript" src="__STATIC__/jquery.dragsort-0.5.1.min.js"></script>
<script type="text/javascript" charset="utf-8">
Think.setValue("extend", {$info.extend|default=0});

//导航高亮
$('.side-sub-menu').find('a[href="{:U('Autocode/index')}"]').closest('li').addClass('current');

$(function(){
	showTab();
})

</script>
</block>

