<extend name="Public/base" />

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>商品-新增</h2>
	</div>

	<!-- 标签页导航 -->
	<div class="tab-wrap">
		<ul class="tab-nav nav">
			<li data-tab="tab1" class="current"><a href="javascript:void(0);">基 础</a></li>
			<li data-tab="tab2"><a href="javascript:void(0);">附 加</a></li>
		</ul>
		<div class="tab-content">
			<!-- 表单 -->
			<form id="form" action="{:U('update')}" method="post" class="form-horizontal doc-modal-form">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class='form-item cf'>
<label class="item-label">商品名称<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="name" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">供货商ID<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="supplierid" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">商品类别ID<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="goodscatid" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">商品类型ID<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="goodstypeid" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">商品标题<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="title" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">商品编码<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="code" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">商品缩略图<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="goodspic" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">商品市场价格<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="price_1" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">商品本店价格<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="price_2" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">添加人ID<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="adderid" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">添加时间<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="addtime" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">修改人ID<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="modifyid" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">修改时间<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="modifytime" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">有效开始时间<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="starttime" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">有效结束时间<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="endtime" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">商品详细描述<span class="check-tips">  </span></label>
<div class='controls'>
<label class="textarea">
<textarea name="desc"></textarea>
{:hook('adminArticleEdit', array('name'=>'desc','value'=>$fields.desc))}</label>
</div>
</div>
<div class='form-item cf'>
<label class="item-label">排序值<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="sortorder" value="">
</div>
</div>
<div class='form-item cf'>
<label class="item-label">销售状态：上架，下架<span class="check-tips">  </span></label>
<div class='controls'>
<input type="text" class="text input-large" name="sellstatus" value="">
</div>
</div>

				</div>

				<!-- 附加 -->
				<div id="tab2" class="tab-pane tab2">
					<div class="form-item cf">
						<label class="item-label">是否启用<span class="check-tips">（是否启用）</span></label>
						<div class="controls">
							<select name="status">
								<option value="1">启用</option>
								<option value="0">禁用</option>
							</select>
						</div>
					</div>
				</div>

				<!-- 按钮 -->
				<div class="form-item cf">
					<label class="item-label"></label>
					<div class="controls edit_sort_btn">
						<button class="btn submit-btn ajax-post no-refresh" type="submit" target-form="form-horizontal">确 定</button>
						<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript" charset="utf-8">
Think.setValue("extend", {$info.extend|default=0});
    //导航高亮
    $('.side-sub-menu').find('a[href="{:U('Goods/index')}"]').closest('li').addClass('current');

    $(function(){
    	
    	$('.time').datetimepicker({
	        format: 'yyyy-mm-dd hh:ii',
	        language:"zh-CN",
	        minView:2,
	        autoclose:true
    	});

    	showTab();
    })

</script>
</block>

