<extend name="Base/common"/>
<!-- 广告区 -->
<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>

<block name="side">
</block>

<block name="body">
<!-- 直供产品区 -->

<!-- 分类展示区 -->
<div class="row">
<h2>热卖单品</h2>
</div>
<volist name="ghslists" id="vo">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h4>{$key+1}F {$vo.ghs_cname}</h4>
            
        </div>
        <volist name="vo.goods" id="item">
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="thumbnail">
                    <a href="{$item.ghs_o_url}" target="_blank"><img data-src="holder.js/300x200" src="{$item.pic_url}" alt="..."></a>
                    <div class="caption">
                        <h5><a href="{$item.ghs_o_url}" target="_blank">{$item.p_name}</a></h5>
                        <p>原价：{$item.ori_price}</p>
                        <p>现价：{$item.ghs_price}</p>
                        <p>折扣：{$item.discount}</p>
                        <p>{$item.post}</p>
                        <p>已经卖出{$item.bought}件</p>

                    </div>
                </div>
            </div>
        </volist> 
    </div>
</volist>  

<php>
echo("-=====--__SELF__-__ROOT__/-{$Think.MODULE_NAME} --__JS__---__DEFAULTTMPL__----");
//use Common\Api\OpensdkApi;
//p(mainnav());
//P($ghslists);
//P(OpensdkApi::gethotactivitylist("1401","4","10"));
//P(RUNTIME_PATH);
//P(OpensdkApi::getshopcat());
//P(OpensdkApi::getgoods("101000000","1","1","","10,800"));
</php>

</block>
